@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main{
  margin-top: 100px;
}

.date{
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1000;
}


